@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Urbanist", sans-serif;
  }

  #banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .half-circle {
    width: 110vw;
    height: 110vw;
    background: linear-gradient(to top, var(--tw-gradient-stops));
    border-radius: 50%;
    position: fixed;
    bottom: -50vw;
    left: 50%;
    transform: translateX(-50%);
    filter: blur(60px);
  }

  @media (max-width: 640px) {
    .half-circle {
      width: 155vw;
      height: 155vw;
      bottom: -75vw;
    }
  }

  #weather-details {
    height: 30vh;
    overflow: hidden;
  }

  #weather-details {
    transition: height 0.3s ease-in-out;
  }

  #arrow-icon {
    transition: transform 0.3s ease-in-out;
  }
}
